<footer class="elegant-color">
  <div
    class="row justify-content-center"
    style="display: flex; align-items: center"
  >
    <div class="col-lg-2 col-9 footer-col text-center">
      <img
        id="footer-logo-full"
        class="center-block"
        src="/assets/img/OPO Logo Symbol White.png"
      />
      <p style="color: white; margin-top: 1rem">{% t footer.profit %}</p>
    </div>
    <div class="col-lg-6 footer-col text-center">
      <hr class="footer-hr-mobile" />
      <div class="row">
        <div class="col">
          <!-- Button trigger modal -->
          <button
            id="subscribe"
            type="button"
            class="btn btn-maroon"
            data-toggle="modal"
            data-target="#exampleModalCenter"
          >
            {% t footer.newsletter %} <i class="far fa-paper-plane fa-fw"></i>
          </button>
        </div>
      </div>
      <div class="social-icons text-center row">
        <div class="col-lg-1 col-2 offset-lg-4 offset-2">
          <a
            href="https://www.facebook.com/ottawapopsorchestra/"
            class="social"
            target="_blank"
            ><i class="fab fa-facebook-f fa-2x"></i
          ></a>
        </div>
        <div class="col-lg-1 col-2">
          <a
            href="https://twitter.com/OttawaPopsOrch"
            class="social"
            target="_blank"
            ><i class="fab fa-twitter fa-2x"></i
          ></a>
        </div>
        <div class="col-lg-1 col-2">
          <a
            href="https://www.instagram.com/ottawapops/"
            class="social"
            target="_blank"
            ><i class="fab fa-instagram fa-2x"></i
          ></a>
        </div>
        <div class="col-lg-1 col-2">
          <a
            href="https://www.youtube.com/channel/UCvD4B1NFC_2HD5jxXl3U-SQ?pbjreload=10"
            class="social"
            target="_blank"
            ><i class="fab fa-youtube fa-2x"></i
          ></a>
        </div>
        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModalCenter"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body">
                {% if site.lang == "en" %}
                <div id="fd-form-5ede4946b9c153002b5adc0f"></div>
                <script>
                  window.fd("form", {
                    formId: "5ede4946b9c153002b5adc0f",
                    containerEl: "#fd-form-5ede4946b9c153002b5adc0f",
                  });
                </script>
                {% elsif site.lang == "fr" %}
                <div id="fd-form-5ede4dd1b9c153002b5adc11"></div>
                <script>
                  window.fd("form", {
                    formId: "5ede4dd1b9c153002b5adc11",
                    containerEl: "#fd-form-5ede4dd1b9c153002b5adc11",
                  });
                </script>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 footer-col" style="color: white">
      <hr class="footer-hr-mobile" />
      <p style="font-size: 22px">{% t footer.box-office.title %}</p>
      <hr class="footer-hr" />
      <p id="box_office">
        {% t footer.box-office.phone %}, {% t footer.box-office.time %}<br />
        {% t footer.box-office.toll %}<br />
        {% t footer.box-office.person %}<br />
        {% t footer.box-office.online %}<br />
      </p>
    </div>
  </div>

  <div class="row justify-content-center pages-row">
    {% if site.lang == "fr" %}
    <div class="col-md-2 text-center pages">
      <a href="{{ site.baseurl_root }}/{{site.lang}}">{% t pages.home %}</a>
    </div>
    {% else %}
    <div class="col-md-2 text-center pages">
      <a href="/">{% t pages.home %}</a>
    </div>
    {% endif %}
    <div class="col-md-2 text-center pages">
      <a href="{{ site.baseurl }}/about">{% t pages.about %}</a>
    </div>
    <div class="col-md-2 text-center pages">
      <a href="{{ site.baseurl }}/programming/">{% t pages.concerts %}</a>
    </div>
    <div class="col-md-2 text-center pages">
      <a href="{{ site.baseurl }}/conductors/">{% t pages.orchestra %}</a>
    </div>
    <!-- <div class="col-md-2 text-center pages"><a href="news.html">News & Media</a></div> -->
    <div class="col-md-2 text-center pages">
      <a href="{{ site.baseurl }}/contact/">{% t pages.contact %}</a>
    </div>
  </div>
</footer>
