<!--Navbar-->
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark grey darken-1 justify-content-center fixed-top scrolling-navbar">
    <!-- Navbar brand -->
    {% if site.lang == "fr" %}
    <a style="padding-left: 3%" class="navbar-brand" href="{{ site.baseurl_root }}/{{site.lang}}">
        {% else %}
        <a style="padding-left: 3%" class="navbar-brand" href="{{ site.url }}">
            {% endif %}
            <img id="logo" src="/assets/img/OPO-Logo-Primary.png" height="100" alt="">
        </a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/about">{% t pages.about %}</a>
                </li>
                <!-- Concerts -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% t pages.concerts %}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="concerts.html">2018 - 2019</a>
                        <a class="dropdown-item" href="concerts-2020.html">2019 - 2020</a>
                        <a class="dropdown-item" href="season-tickets.html">Season Tickets</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link">{% t pages.orchestra %}</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="auditions.html">Auditions</a>
                        <a class="dropdown-item" href="conductors.html">Conductors</a>
                        <!-- <a class="dropdown-item" href="musicians.html">Musicians</a> -->
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <div class="btn-group">
                        <a href="#" class="nav-link">{% t pages.community %}</a>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="studentMatinees.html">Student Matinees</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">{% t pages.contact %}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item ">
                    {% if site.languageNames[site.lang] == "English" %}
                    <a class="nav-link" href="{{ site.baseurl_root }}/fr{{page.url}}">FR</a>
                    {% else %}
                    <a class="nav-link" href="{{ site.baseurl_root }}{{page.url}}">EN</a>
                    {% endif %}
                </li>
            </ul>
        </div>
</nav>
<!--/.Navbar-->