<div class="row justify-content-md-center upcoming">
  <div class="col-md-8">
    <h2>{% t upcoming.title %}</h2>
  </div>
  <div id="showAll" class="col-md-4 text-right">
    <a
      href="{{ site.baseurl }}/programming/"
      class="btn btn-outline-maroon show-all"
      >{% t upcoming.showAll %} <i class="fas fa-calendar-alt fa-fw"></i
    ></a>
  </div>
  <div class="col-md-4 center">
        <a href="{{ site.baseurl }}/programming/gladstone-waldeinsamkeit/" target="_blank">
            <div class="card">
                <img class="card-img-top" src="/assets/img/stories/story7/{% t stories.story7.thumb %}.png">
                <div class="card-body center">
                    <h4 class="card-title">{% t concerts.gladstone-waldeinsamkeit.title %}</h4>
                    <p class="card-text" style="color: #920503;">{% t upcoming.gladstone %}</p>
                </div>
            </div>
        </a>
    </div>
  <div class="col-md-4 center">
    <a href="{{ site.baseurl }}/programming/videogamesymphony/" target="_blank">
      <div class="card">
        <img
          class="card-img-top"
          src="/assets/img/concerts-full/programming/VGSDetail.jpeg"
        />
        <div class="card-body center">
          <h4 class="card-title">{% t concerts.VGS.title %}</h4>
          <p class="card-text" style="color: #920503">
            {% t upcoming.videoDate %}
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="{{ site.baseurl }}/programming/popsonbroadway/" target="_blank">
      <div class="card">
        <img
          class="card-img-top"
          src="/assets/img/concerts-full/programming/BroadwayDetail.png"
        />
        <div class="card-body center">
          <h4 class="card-title">{% t concerts.broadway.title %}</h4>
          <p class="card-text" style="color: #920503">
            {% t upcoming.broadDate %}
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
