<div class="row justify-content-md-center upcoming">
  <div class="col-md-8">
    <h2>{% t upcoming.title %}</h2>
  </div>
  <div id="showAll" class="col-md-4 text-right">
    <a
      href="{{ site.baseurl }}/2019-2020/"
      class="btn btn-outline-maroon show-all"
      >{% t upcoming.showAll %} <i class="fas fa-calendar-alt fa-fw"></i
    ></a>
  </div>
  <!-- <div class="col-md-4 col-sm">
        <a href="{{ site.baseurl }}/2019-2020/hmw/" target="_blank">
            <div class="card">
                <img class="card-img-top" src="/assets/img/concerts-full/2019-2020/HMW2Detail.png">
                <div class="card-body center">
                    <h4 class="card-title">{% t concerts.HMW.title %}</h4>
                    <p class="card-text" style="color: #920503;">{% t upcoming.hmwDate %} <i class="fas fa-caret-right"></i> 9</p>
                </div>
            </div>
        </a>
    </div> -->

  <div class="col-sm-4 center">
    <a href="{{ site.baseurl }}/2019-2020/videogamesymphony/" target="_blank">
      <div class="card">
        <img
          class="card-img-top"
          src="/assets/img/concerts-full/2019-2020/VGSDetail.jpeg"
        />
        <div class="card-body center">
          <h4 class="card-title">{% t concerts.VGS.title %}</h4>
          <p class="card-text" style="color: #920503;">
            {% t upcoming.videoDate %}
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-2"></div>

  <div class="col-sm-4">
    <a href="{{ site.baseurl }}/2019-2020/popsonbroadway/" target="_blank">
      <div class="card">
        <img
          class="card-img-top"
          src="/assets/img/concerts-full/2019-2020/BroadwayDetail.png"
        />
        <div class="card-body center">
          <h4 class="card-title">{% t concerts.broadway.title %}</h4>
          <p class="card-text" style="color: #920503;">
            {% t upcoming.broadDate %}
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
