footer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer-col {
  padding: 40px 0px;
}

.pages-row {
  background-color: #920503;
}

.pages {
  padding: 20px 0px;
  background-color: #920503;
  text-align: right;
}

.pages a {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}

.pages-row {
  background-color: #920503;
}

#footer-logo-full {
  height: 80px;
  margin-top: 50px;
}

#footer-logo-sm {
  display: none;
}

.social {
  margin: 0 auto;
  color: white;
  align-items: center;
}

.social:hover {
  color: #920503;
}

.footer-email {
  padding: 20px 0;
}

#footer-email {
  color: white;
  text-align: center;
}

.footer-hr {
  border: 1px solid white;
}

.footer-hr-mobile {
  display: none;
}

.newsletter {
  color: white;
  text-transform: uppercase;
}

.footer-col lable {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  padding: 0 50px;
}

#email {
  line-height: 20px;
  width: 40%;
}

#contact-form-button {
  height: 42px;
}

.modal-header, .modal-body {
  background-color: #920503;
}

.modal-header h5, button {
  color: white;
  font-size: 26px;
}

.modal-header i {
  margin-left: 15px;
}

#subscribe {
  font-size: 18px;
  margin-bottom: 20px;
}

#subscribe i {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .footer-col {
    padding: 10px 0px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .footer-col {
    padding: 10px 0px;
    text-align: center;
  }

  .social {
    height: 10px;
  }

  .pages {
    padding: 0px;
  }

  .pages a {
    font-size: 16px;
  }

  .modal-header, .modal-body {
    max-width: 100vw;
  }

  .modal-header h5, button {
    color: white;
    font-size: 24px;
  }

  #subscribe {
    font-size: 14px;
    margin-left: 0px;
  }

  #subscribe i {
    margin-left: 0px;
  }

  #newsletter-form {
    max-width: 85vw;
  }

  .footer-hr {
    display: none;
  }

  .footer-hr-mobile {
    display: block;
    border: 1px solid white;
  }
}
